<div class="header fixed-top">
  <nav class="navbar navbar-expand-lg barra ">
      <div class="container-fluid ">

          <div class="d-flex p-1 rounded float-left ">

              <img src="https://image.winudf.com/v2/image1/Y29tLkV2ZWx5cWEud29ybGR0dl9zdHJlYW1pbmdfaWNvbl8xNTUyODEyMjc4XzAxNQ/icon.png?w=&fakeurl=1" class="img-fluid redes mr-2" alt="Responsive image">
              <div class="my-auto m-2 fs-5 bold letraBlanca">TV SERIES</div>

          </div>
      </div>
  </nav>
</div>
<app-serie></app-serie>
